---
import EmployeeLayout from "@/layouts/EmpLayout.astro";
import RichCard from "@/components/RichCard.astro";
import SaveForm from "./_parts/SaveForm";
const token = Astro.cookies.get("token")?.value as string;
---
<EmployeeLayout>
  <RichCard title="Add New Company" action={{ label: "Back to Company List", url: "/emp/company" }}>
    <div class="flex flex-col sm:flex-row gap-4 sm:gap-10">
      <SaveForm token={token} client:load />
    </div>
  </RichCard>
</EmployeeLayout>