---
import NoDataFound from "@/components/NoDataFound.astro";
import ApplicationItem from "./ApplicationItem.astro";
import { getEmployerData } from "@/pages/emp/_parts/EmployerData";
const { user, token } = Astro.locals as any;
const {applications} = await getEmployerData(token, user);
---

<div class="flex flex-col gap-4">
    { applications && applications.length > 0 ? applications.map((app) => (
        <ApplicationItem application={app} />
    )): 
        <NoDataFound title="No applications found." /> 
    }
</div>