---
import { Company } from "@/utils/types/Company";

export interface Props {
    company: Company
}

const {company} = Astro.props;
---

<div class="flex flex-col md:flex-row w-full p-4 border border-purple-100 rounded-lg bg-purple-50 transition duration-200 ease-out hover:shadow-md">
    <div class="flex flex-col flex-1 mb-3 md:mb-0">
        <p class="font-medium text-purple-800">{company.name || "Company Name"}</p>
        <p class="text-gray-600 text-sm">{company.address || "Address"}, {company.city || "City"}, {company.state || "State"}, {company.country || "Country"}, {company.zipCode || "Zip Code"}, {company.email || "Email"}, {company.phoneNumber || "Phone Number"}</p>
    </div>
    <div class="flex flex-col mr-4 pl-4 border-t-2 md:border-t-0 md:border-l-2 border-purple-600">
        <div class="w-full text-center mb-3 md:mb-0">
            <p class="font-medium text-purple-80">Status</p>
            <p class={"text-sm"+ (company.isVerified ? " text-green-600" : " text-orange-600")}>{company.isVerified ? "Verified" : "Not Verified"}</p>
        </div> 
    </div>
    <div class="flex md:ml-auto justify-center items-center border-t-2 md:border-t-0 md:border-l-2 border-purple-600 pl-2">
        <a href={`/emp/company/${company.id}`} class="text-purple-600 hover:text-purple-900 focus:ring-2 focus:outline-none focus:ring-purple-300 font-bold rounded-lg text-sm px-5 py-1.5 text-center">Update Details</a>
    </div>
</div>