---
import Card from "../Card.astro";
import { PenLine, Trash2 } from "@lucide/astro";
---

<Card title="Update Your Skills" class="w-full">
    <a slot="header-actions" href="/applicant/skills" class="btn btn-primary px-6">Add Skills</a>
    <table class="w-full text-sm">
        <thead class="text-left text-xs text-gray-500 uppercase border-b">
            <tr>
                <th class="py-3 pr-6 text-center md:w-[200px]">Actions</th>
                <th class="py-3 pr-6">Skill</th>
                <th class="py-3 pr-6">Proficiency</th>
                <th class="py-3 pr-6">Experience</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="py-3 pr-6 flex gap-1 justify-center">
                    <button class="btn btn-link"><PenLine /></button>
                    <button class="btn btn-link-danger"><Trash2 /></button>
                </td>
                <td class="py-3 pr-6 p-2">HTML</td>
                <td class="py-3 pr-6 p-2">Proficient</td>
                <td class="py-3 pr-6 p-2">3 years</td>
            </tr>
        </tbody>
    </table>
</Card>