---
import Card from "../Card.astro";
import { PenLine, Trash2, Save, SaveOff } from "@lucide/astro";
---
<div x-data="{show: false}">
<Card title="Update Your Experience" class="w-full">
    <button @click="show = !show" slot="header-actions" class="btn btn-primary px-6">Add Experience</button>
    <table class="w-full text-sm">
        <thead class="text-left text-xs text-gray-500 uppercase border-b">
            <tr>
                <th class="py-3 pr-6 text-center md:w-[200px]">Actions</th>
                <th class="py-3 pr-6">Company</th>
                <th class="py-3 pr-6">Position</th>
                <th class="py-3 pr-6">Start Date</th>
                <th class="py-3 pr-6">End Date</th>
            </tr>
        </thead>
        <tbody>
            <tr x-show="show">
                <td class="py-3 pr-6 flex gap-1 justify-center">
                    <button class="btn btn-link"><Save /></button>
                    <button x-on:click="show = false" class="btn btn-link-danger"><SaveOff /></button>
                </td>
                <td class="py-3 pr-6 p-2">
                    <input type="text" placeholder="Company" class="input input-bordered w-full max-w-xs" />
                </td>
                <td class="py-3 pr-6 p-2">
                    <input type="text" placeholder="Position" class="input input-bordered w-full max-w-xs" />
                </td>
                <td class="py-3 pr-6 p-2">
                    <input type="date" class="input input-bordered w-full max-w-xs" />
                </td>
                <td class="py-3 pr-6 p-2">
                    <input type="date" class="input input-bordered w-full max-w-xs" />
                </td>
            </tr>
            <tr>
                <td class="py-3 pr-6 flex gap-1 justify-center">
                    <button class="btn btn-link"><PenLine /></button>
                    <button class="btn btn-link-danger"><Trash2 /></button>
                </td>
                <td class="py-3 pr-6 p-2">Google</td>
                <td class="py-3 pr-6 p-2">Software Engineer</td>
                <td class="py-3 pr-6 p-2">2020</td>
                <td class="py-3 pr-6 p-2">2022</td>
            </tr>
        </tbody>
    </table>
</Card>
</div>