name: client-app
services:
  app:
      build:
        context: .
        dockerfile: Dockerfile
      container_name: app
      restart: always
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.app.rule=Host(`jobsforwoman.cloud`) || Host(`www.jobsforwoman.cloud`) || Host(`jobsforwoman.com`) || Host(`www.jobsforwoman.com`)"
        - "traefik.http.routers.app.entrypoints=websecure"
        - "traefik.http.routers.app.tls.certresolver=myresolver"
        - "traefik.http.routers.app.tls=true"
        - "traefik.http.services.app.loadbalancer.server.port=8080"
        - "traefik.http.routers.app.tls.domains[0].main=jobsforwoman.cloud"
        - "traefik.http.routers.app.tls.domains[0].sans=jobsforwoman.com"
        - "traefik.http.middlewares.app.redirectscheme.scheme=https"
        - "traefik.http.middlewares.app.redirectscheme.permanent=true"
      # env_file:
      #   - .env
      environment:
        NODE_ENV: production
        APP_SECRET_KEY: asdrweweddsaxadasfsdfdsfgdffcr4fsw3232edwssdzcsdsdf
      # ports:
      #   - 8080:8080
      expose:
        - 8080
      networks:
        - proxy-server_default

networks:
  proxy-server_default:
    external: true