# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

# Here the instructions define your application as a service called "server".
# This service is built from the Dockerfile in the current directory.
# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    restart: always
    # env_file:
    #   - .env
    environment:
      NODE_ENV: production
    ports:
      - 8080:8080
    depends_on:
      - server
    networks:
      - proxy

  server:
    image: imshibaji/jobs-api-server:latest
    container_name: server_app
    restart: unless-stopped
    environment:
      NODE_ENV: production
      APP_NAME: "Jobs API Server"
      APP_VERSION: 1.0.5
      APP_ENV: production
      APP_HOST: 0.0.0.0
      APP_PORT: 3300
      APP_SECRET_KEY: asdrweweddsaxadasfsdfdsfgdffcr4fsw3232edwssdzcsdsdf
      DB_TYPE: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: jobs_for_woman
      DB_USER: postgres
      DB_PASS: Spaceranger@123
      DB_SYNC: true
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: Spaceranger@123
    ports:
      - 3300:3300
    # expose:
    #   - 3300
    volumes:
      - ./uploads:/app/uploads:rw
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  db:
    image: postgres:17
    container_name: db_app
    restart: always
    user: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=jobs_for_woman
      - POSTGRES_PASSWORD=Spaceranger@123
    ports:
      - 5433:5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:latest
    container_name: redis_app
    restart: always
    ports:
      - 6378:6379
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      - REDIS_PASSWORD=Spaceranger@123

volumes:
  server_app:
    driver: local
  db_data:
  redis_data:

networks:
  proxy: