---
import { Company, Job } from "@/utils/types/Company";
import JobItem from "./JobItem.astro";
import { getDataFromServer } from "@/utils/getDataRequest";
import NoDataFound from "@/components/NoDataFound.astro";

const { user, token } = Astro.locals as any;
const companies = await getDataFromServer(token,'companies', user.id) as Company[];
const allJobs = await getDataFromServer(token,'jobs') as Job[];
const jobs = allJobs.filter((job: Job) => {
    return companies.some((company: Company) => company.id === job.companyId);
});

const jobsByCompany = companies.map((company: Company) => {
    return {
        ...company,
        jobs: jobs.map((job: Job) => {
            if(job.companyId === company.id){
                return {
                    ...job,
                    company: company
                };
            }
        })
    };
});
---

<div class="flex flex-col gap-4">
    { jobsByCompany && jobsByCompany.length > 0 ? jobsByCompany.map((company) => {
        return (
            <div>
                <h2 class="text-lg font-semibold text-gray-700 mb-2">{company.name}</h2> 
                {company.jobs && company.jobs.length > 0 ? company.jobs?.map((job) => (
                    job ? <div class="py-2"><JobItem job={job} /></div> : <NoDataFound title="No Jobs found." />
                )): <NoDataFound title="No Jobs found in this company." />}
            </div>
        )
    }): 
        <NoDataFound title="No Companies found." />
    }
</div>