---
import EmployeeLayout from "@/layouts/EmpLayout.astro";
import Card from "@/components/Card.astro";
import OfferItem from "./_parts/OfferItem.astro";
---
<EmployeeLayout>
  <Card title="Offers List">
    <a slot="header-actions" href="/emp/offers/create" class="btn btn-primary px-6">Create Offer</a>
    <div class="flex flex-col gap-4">
      <OfferItem />
      <OfferItem />
      <OfferItem />
      <OfferItem />
    </div>
  </Card>
</EmployeeLayout>