  ---
  import { Instagram, Linkedin, Twitter } from "@lucide/astro";
  ---


  <!-- ░░ FOOTER ░░ -->
  <footer class="bg-gray-900 py-10 text-gray-400">
    <div class="mx-auto max-w-7xl px-4">
      <div class="mb-6 flex flex-col items-center justify-between gap-6 md:flex-row md:gap-0">
        <a href="#" class="text-lg font-semibold text-white">
          JobsForWoman.com
        </a>
        <nav class="space-x-6 text-sm">
          <a href="#" class="hover:text-white">About Us</a>
          <a href="#" class="hover:text-white">Contact Us</a>
          <a href="#" class="hover:text-white">Privacy Policy</a>
          <a href="#" class="hover:text-white">Terms</a>
        </nav>
      </div>
      <div class="flex flex-col items-center justify-between text-sm md:flex-row">
        <p>© {new Date().getFullYear()} JobsForWoman.com. All rights reserved.</p>
        <div class="mt-4 flex gap-4 md:mt-0">
          <a href="https://www.instagram.com/jobsforwoman?igsh=MTh4cWQ4b2RlNzEzYg==" class="hover:text-white">
            <Instagram />
          </a>
          <a href="#" class="hover:text-white">
            <Linkedin />
          </a>
          <a href="#" class="hover:text-white">
            <Twitter />
          </a>
        </div>
      </div>
    </div>
  </footer>