---
import AdminLayout from "@/layouts/AdminLayout.astro";
import QuickHighlight from "@/components/back/QuickHighlight.astro";
import { useHttpClient } from "@/utils/useHttpClient";
import UserList from "./_parts/UserList.astro";
import { getSSRPagination } from "@/utils/paginationUtils";
import PaginationNav from "@/components/PaginationNav.astro";
import { APP_URL } from "astro:env/server";
import { User } from "@/utils/types/User";

const token = Astro.cookies.get('token')?.value as string;
const users = await useHttpClient(token).get(APP_URL + '/users').then(res => res.json());

const { page } = getSSRPagination(users, Astro.url, 8, '/admin/users');

---
<AdminLayout>
  <QuickHighlight />
  <UserList users={page.data as User[]} />

  <div class="mt-6 text-center">
    <PaginationNav page={page} />
  </div>
</AdminLayout>