---
import Footer from "@/components/Footer.astro";
import TopBar from "@/components/TopBar.astro";
import "@/styles/global.css";

---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{Astro.props.title || "Astro Basics"}</title>
  <link rel="icon" href="/favicons/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
</head>
<body class="font-sans text-gray-800 antialiased">
  <TopBar />
    <slot />
  <Footer />
</body>
</html>