---
import "@/styles/global.css";
import Sidebar from "@/components/back/Sidebar.astro";
import TopBar from "@/components/back/TopBar.astro";
import { House, ListTodo, Settings, StickyNote } from "@lucide/astro";
import { User } from "@/utils/User";
const user = Astro.cookies.get('user')?.json() as User;

const menus = [
    {
        name: "Dashboard",
        icon: House,
        link: "/emp",
    },
    {
        name: "Applications",
        icon: StickyNote,
        link: "/emp/applications",
    },
    {
        name: "Jobs List",
        icon: ListTodo,
        link: "/emp/jobs",
    },
    {
        name: "Companies List",
        icon: ListTodo,
        link: "/emp/company",
    },
]
const profileLink = "/emp/profile";
const settings = {
    name: "Settings",
    icon: Settings,
    link: profileLink,
}
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{Astro.props.title || "Astro Dashboard"}</title>
  <link rel="icon" href="/favicons/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
</head>
<body class="bg-gray-50 font-sans">
    <Sidebar menus={menus} settings={settings} />
    <TopBar profileLink={profileLink} user={user} />
    <main class="pt-20 p-6 lg:ml-64 transition-all duration-300 bg-lavender min-h-dvh">
        <slot />
    </main>

    <!-- Sidebar Toggle Script -->
    <script is:inline>
        const sidebar = document.getElementById('sidebar');
        const openBtn = document.getElementById('openSidebar');
        const closeBtn = document.getElementById('closeSidebar');

        openBtn.addEventListener('click', () => {
            sidebar.classList.remove('-translate-x-full');
        });

        closeBtn.addEventListener('click', () => {
            sidebar.classList.add('-translate-x-full');
        });
    </script>
</body>
</html>