---
import EmployeeLayout from "@/layouts/EmpLayout.astro";
import Card from "@/components/Card.astro";
import JobList from "./_parts/JobList.astro";
---
<EmployeeLayout>
  <Card title="All Jobs">
    <a slot="header-actions" href="/emp/jobs/post" class="btn btn-primary px-6">Post a Job</a>
    <hr class="border-gray-200 my-6" />
    <JobList />
  </Card>
</EmployeeLayout>