name: deployment workflow
on:
  push:
    branches:
      - main
      - dev
      # - development
      # - staging
      # - production
  workflow_run:
    workflows: ["Playwright Tests"]
    types:
      - completed

jobs:
    deployment:
        runs-on: ubuntu-latest
        # environment: development
        steps:
            - name: Deploy to VPS
              uses: actions/checkout@v5
            - name: Upload Files to Server via SCP
              uses: appleboy/scp-action@v1
              with:
                host: ${{ vars.SERVER_NAME }}
                username: root
                password: ${{ secrets.PASSWORD }}
                source: "."
                target: "/root/client-app"
            - name: SSH into Server and Run Application
              uses: appleboy/ssh-action@v1
              with:
                host: ${{ vars.SERVER_NAME }}
                username: root
                password: ${{ secrets.PASSWORD }}
                script: |
                  cd "/root/client-app"
                  docker compose -f compose.yaml up -d --build